body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main h2,
.skills h2,
.works h2,
.contacts h2 {
    color: #25c0a5;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
}

.works p,
.main p,
.skills p,
.contacts p {
    color: #535353;
    font-size: 18px;
    font-weight: 400;	
    padding: 25px 0;
}

.header, .works {
    min-height: 100vh;
    background: url(../img/Background.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


/* h1 animation */

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* end h1 animation */

.header h1 {
    color: #42dac0;
    font-size: 2em;
    font-weight: 500;
    line-height: 48px;
    margin-top: 200px;
    animation-name: slideInRight;
    animation-duration: 2s;    
}

.header a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.header .btn:hover {
    background-color: #42dac0;
    color: #ffffff;
}

.nav li {
    margin: 0 auto;
}

.nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #42dac0;
}

.main {
    background-color: rgb(243, 243, 243);
    min-height: 100vh;
}

.main img {
    border-radius: 100px;
    margin-top: 70px;
}

.main h1 {
    color: #25c0a5;
    font-size: 30px;
    font-weight: 400;
    margin-top: 75px;
    text-align: center;
}
.main h4 {
    color: #25c0a5;
}

#about-me i {
    color: #25c0a5;
    background: transparent;
}

.works {
    min-height: 100vh;
    padding-top: 25px;
}

.works p{
    color: #fff;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.flex-container > div{
    margin: .5vw;
    /*margin-bottom: 35px;*/
    width: 320px;
}

.flex-container > div > a > img{
    width: 100%;
    height: auto;

}

.social-icons li a i:hover {
    background-color: #42dac0;
}

.social-icons li {
    display: inline-block;
    margin: 0 auto;
}

.social-icons i {
    margin-top: 50px;
    margin-right: 50px;
}

.contacts {
    height: 100vh;
    background-color: rgb(243, 243, 243);
    padding-top: 25px;
}

.input-container{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #25c0a5;
  color: white;
  min-width: 50px;
  text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 0px;
}

.form-control:focus{
    border: 2px solid #25c0a5;
}

.contacts .btn {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 133px;
    height: 53px;
    background-color: #25c0a5;
    opacity: 1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 10px;
	margin-bottom: 10px;
}

.contacts .btn:hover {
    opacity: 0.7;
}

footer p {
    margin-top: 25px;
}
footer ul {
    margin-top: 10px;
}

footer li {
    !list-style: none;
    display: inline;
    margin-right: 10px;
}

footer i {      
    background: #fff;  
    color: #25c0a5;
    opacity: 1;
}

footer i:hover {
    opacity: 0.7;
}